@media (min-width: 768px) {
  .logo {
    position: fixed;
  }
  .main-grey .main {
    padding-top: 90px;
  }
}
.logo {
    background: url(../img/logo.png) no-repeat center center;
    height: 72px;
    width: 72px;
    z-index: 99;
}

.main-grey {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.main-grey h3 {
    margin: 12px 12px 28px;
}
